# Riscrittura URL
RewriteEngine On
RewriteRule ^$ /frontend/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /frontend/index.php/$1 [L]

# auot prepend e append file
<If "!(%{REQUEST_URI} =~ m#/login# || %{REQUEST_URI} =~ m#/register#)">
    php_value auto_append_file "E:\xampp\htdocs\zoi-beauty\frontend\components\footer\footer.php"
    php_value auto_prepend_file "E:\xampp\htdocs\zoi-beauty\frontend\components\navbar\navbar.php"
</If>

# Connessione al database
#<FilesMatch "\.php$">
#    php_value auto_prepend_file "C:\xampp\htdocs\zoi-beauty\backend\config\prepend.php"
#</FilesMatch>