# Riscrittura URL
RewriteEngine On
RewriteRule ^$ /frontend/index.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /frontend/index.php/$1 [L]

# auto prepend e append file
# =~ è l'operatore di corrispondenza di pattern in Apache.
# m# è un delimitatore di espressione regolare. In questo caso, # è usato come delimitatore
<If "!(%{REQUEST_URI} =~ m#/login# || %{REQUEST_URI} =~ m#/register# || %{REQUEST_URI} =~ m#/backend/api# || %{REQUEST_URI} =~ m#/admin/dashboard# || %{REQUEST_URI} =~ m#/admin/login#)">
    php_value auto_prepend_file "C:\Users\marius.noroaca\Desktop\zoi-beauty\frontend\components\navbar\navbar.php"
    php_value auto_append_file "C:\Users\marius.noroaca\Desktop\zoi-beauty\frontend\components\footer\footer.php"
</If>
